.member_top_bg{
    display: flex;
    height: 400px;
    background-image: url("/img/L01.jpg");
    background-size: cover;
    background-position: 0 center;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 80px;
    color: white;
}

.member_login_main{
    width: 1200px;
    margin: 50px auto 100px;
}

.member_login_main h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color:  rgba(167, 115, 68,.58);;
}

.member_login_main input{
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 50px;
}

.content_wrapper{
    display: flex;
    width: 500px;
    margin: -20px  auto ;
}

.content_wrapper a{
    padding-top: 10px;
    color: rgba(167, 115, 68,.58);
    text-decoration: none;
     margin-left: 20px;
}



.account, .password, .login{
    color: rgba(167, 115, 68,.58);
    width: 500px;
    margin: 0 auto 30px;
    padding-top: 10px;
}

.login input{
    width: 508px;
    height: 60px;
    background-color: rgba(167, 115, 68,.58);
    color: white;
    border: none;
    margin-top: 30px;
    font-family: 'Nunito', 'Noto Sans TC';
}